<div class="commits-recent">
  <h4> Revisions </h4>
  <ul class="unstyled">
    <% gist.recent_commits.each do |c| %>
      <li> 
        <abbr class="sha" title="<%= c.sha %>"><%= c.pretty_sha %></abbr>
        <abbr class="timeago " title="<%= (time = c.created_at.getutc).iso8601 %>"> <%= time.to_s %></abbr>
      </li>
    <% end %>
  </ul>
</div>
