
.syntax * {
  padding: 0;
  margin: 0;
}

.sha,
.syntax pre {
  font-size: 80%;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.syntax pre {
  white-space: pre;
  line-height: 1.3em;

  padding: 1em 0.5em;
}

.syntax > table {
  border: 0
}

.syntax > table th pre {
  color: #AAA !important;
  text-align: right;
}
